.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
}

.login-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

.login-header {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
}

.divider-nospace {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
}

.password-field {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #666;
}

.checkbox-text input[type="checkbox"] {
  margin-right: 5px;
}

.register-link {
  color: #007bff;
  text-decoration: none;
}

.access-right {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease;
}

.access-right:focus {
  outline: none;
  border-color: #007bff;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.divider {
  height: 1px;
  background-color: #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}
